body {
    background-color: #8A0303; /* Blood red background */
    font-family: 'Impact', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4A0101; /* Darker red for header */
}

h1 {
    margin: 0;
}
.item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    padding-left: 3vw;
}

.item {
    background-color: #4A0101; /* Darker red for items */
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.item img {
    max-width: 100%;
    border-radius: 10px;
    transform: scale(1.3); /* Scale the image by 1.2 times */
}

.item-options {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; /* Arrange items horizontally */
}

.item-options input[type="checkbox"] {
    display: none;
}

.item-options input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

.item-options input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #8A0303; /* Blood red background for checkbox */
}

.item-options input[type="checkbox"]:checked + label:before {
    background-color: white;
}

.item-options input[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    left: 4px;
    top: 0;
    font-size: 20px;
    color: #8A0303; /* Blood red check mark */
}

.stats-panel {
    position: fixed;
    top: 80px; /* Adjust this value to match the height of the header banner */
    right: 0;
    width: 33.33vw; /* 1/3 of the viewport width */
    background-color: #4A0101; /* Darker red for stats panel */
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    height: calc(100% - 200px); /* Adjust height to account for the header and bottom buffer */
    overflow-y: auto;
    text-align: center; /* Center the text */
    bottom: 120px; /* Add bottom buffer to match the top buffer */
}

.stats-panel ul {
    list-style: none; /* Remove bullets */
    padding: 0;
}

.stats-panel li {
    margin: 10px 0; /* Add some spacing between lines */
}

main {
    margin-right: 270px; /* Adjust to make space for the stats panel */
}
.map {
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    align-items: center;
}

.map img {
    margin-right: 20px; /* Add some space between the image and the checkbox */
}
