body {
    background-color: #8A0303; /* Blood red background */
    font-family: 'Impact', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    margin-bottom: 1vw;
    background-color: #4A0101; /* Darker red for header */
}

h1 {
    margin: 0;
}

.item-list, .stats-panel ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    padding-left: 2vw;
}
.item {
    margin: 0.5vw;
    padding: 1vw;
    border-radius: 1vw;
    /* width: 30vw; 30% of the viewport width */
    text-align: center;
    display: flex;
    flex-direction: row; /* Change to horizontal flex */
    align-items: center;
    justify-content: space-between; /* Space items evenly */
    height: auto; /* Adjust height to content */
    gap: 1vh;
}

.item h2 {
    font-size: 1.5em;
    margin: 10px;
}

.item img {
    max-width: 100%;
    border-radius: 10px;
    transform: scale(1); /* Scale the image by 1 times */
}

.map {
    background-color: #4A0101; /* Darker red for items */
    width: 32vw; 
    height: auto; 
}

.item-options {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1vw;
}

.item-options input[type="checkbox"] {
    display: none;
}

.item-options input[type="checkbox"] + label {
    position: relative;
    cursor: pointer;
    user-select: none;
    text-align: left;
    padding-left: 3vw;
}

.item-options input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: #8A0303; /* Blood red background for checkbox */
}

.item-options input[type="checkbox"]:checked + label:before {
    background-color: white;
}

.item-options input[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    left: 4px;
    top: 0;
    font-size: 20px;
    color: #8A0303; /* Blood red check mark */
}

.stats-panel {
    position: fixed;
    margin-top: 20vh;
    right: 0;
    width: 28vw;
    background-color: #4A0101; /* Darker red for stats panel */
    color: white;
    padding: 2vw;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    height: 30vh; /* Adjust height to account for the header and bottom buffer */
    overflow-y: auto;
    text-align: center; /* Center the text */
    font-size: 1.5em;
}

.stats-panel ul {
    list-style: none; /* Remove bullets */
    padding: 0;
}

.stats-panel li {
    margin: 10px 0; /* Add some spacing between lines */
}

.skull {
    width: 8vw;
    height: auto; /* Maintain aspect ratio */
}
.egg {
    width: 5.5vw;
    height: auto; /* Maintain aspect ratio */
}

.darkened {
    filter: brightness(20%);
}

@media (max-width: 768px) {
    .item h2 {
        font-size: 1.1em;
    }
    header {
        padding: 10px;
    }
    .skull {
        width: 10vw;
        height: auto; /* Maintain aspect ratio */
    }
    .egg {
        width: 7vw;
        height: auto; /* Maintain aspect ratio */
    }
    .map {
        width: 40vw; 
    }
    .stats-panel {
        font-size: 1.2em;
    }
}